/****************************************************************************
 ****************************************************************************

    Default stylesheet

*****************************************************************************
*****************************************************************************/
:root {
    /* Define fonts */
    --font-main     : "Slabo 27px", serif;
    --font-highlight: "Julius Sans One", sans-serif;

    /* Define heights */
    --height-nav: 40px;

    /* Define color scheme */
    --color-white-transparent: rgba(255, 255, 255, 0.93);
}


/****************************************************************************

    General

*****************************************************************************/
/* Window */
body {
    background-image : url("../images/pattern_light.png");
    background-repeat: repeat;
    font-family      : var(--font-main);
    font-size        : 20px;
    letter-spacing   : 0.015em;
    line-height      : 1.6em;
}

/* Fonts */
h1, h2, nav {
    font-family: var(--font-highlight);
}

h1 {
    font-size     : 3.2em;
    height        : 1.4em;
    letter-spacing: 0.25em;
}

h2 {
    font-size     : 4.2em;
    letter-spacing: 0.5em;
}

h3 {
    font-size     : 1.4em;
    letter-spacing: 0.04em;
}

strong {
    font-weight: bold;
}

/* Separators */
.ijl-attacher-1 {
    margin-bottom: 0;
}

.ijl-separator-1 {
    height: 0.4em;
}

.ijl-separator-2 {
    height: 1em;
}

.ijl-separator-3 {
    height: 1.6em;
}

/* Navbar */
nav {
    letter-spacing: 0.02em;
    height        : var(--height-nav);
    line-height   : var(--height-nav);
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height     : var(--height-nav);
    line-height: var(--height-nav);
}

nav .button-collapse i {
    height     : var(--height-nav);
    line-height: var(--height-nav);
}

nav .brand-logo {
    font-size  : 1.1em;
    margin-left: 1em;
}

nav .brand-logo img {
    height: 100%;
}

nav .ijl-menu-items-desktop {
    font-size: 0.75em;
}

nav #ijl-menu-desktop li:last-child {
    margin-right: 1em;
}

/* Articles */
article header {
    background-image : url("../images/pattern_dark.png");
    background-repeat: repeat;
    display          : flex;
    justify-content  : center;
    flex-direction   : column;
    height           : 240px;
}

/* Footer */
footer {
    font-size     : 0.85em;
    letter-spacing: 0.02em;
}

footer a:hover {
    text-decoration: underline;
}

#mai-footer-social li {
    font-size    : 1.6em;
    float        : left;
    padding-right: 0.9em;
}

/* Form */
.input-field {
    margin-top   : 0.6em;
    margin-bottom: 0.6em;
}

label {
    font-size: 0.85em !important;
}

button {
    font-size: 0.85em !important;
    width    : 100%;
}

/* Image */
img.circle {
    width: 100%;
}

/* Materialize card */
.card label {
    font-size: 1.2em !important;
}

.card input {
    font-size    : 1.2em !important;
    margin-top   : 0.75em !important;
    margin-bottom: 1.5em !important;
}

.card p {
    font-size: 1.2em !important;
}

.card a.btn-floating:hover {
    background: #ffa000 !important;
}

.mai-card img {
    object-fit: cover;
    width     : 100%;
    height    : 500px;
}

.mai-card-preview img {
    object-fit: cover;
    width     : 100%;
    height    : 240px;
}

/* Fixed action button */
.fixed-action-btn {
    float   : right;
    position: relative;
    right   : 0.5em;
    bottom  : 1.5em;
}


/****************************************************************************

    Page-specific

*****************************************************************************/
/* Splash */
.ijl-splash-wrapper {
    height         : 100vh;
    display        : flex;
    justify-content: center;
    flex-direction : column;
}

.ijl-splash-wrapper > .col {
    background-color: var(--color-white-transparent);
    position        : relative;
    top             : calc(-1.5 * var(--height-nav));
}

.cover_video {
    -webkit-filter: brightness(1.33) contrast(1.6) opacity(0.42) sepia(0.06) saturate(1.15);
            filter: brightness(1.33) contrast(1.6) opacity(0.42) sepia(0.06) saturate(1.15);
    position  : absolute;
    width     : 100%;
    height    : calc(100% + 2.25*var(--height-nav));
    top       : 50%;
    left      : 50%;
    transform : translate(-50%, calc(-50% + var(--height-nav)));
    object-fit: cover;
    z-index   : -1;
}

/* Portfolio */
.parallax-container {
    height: 300px;
}

.parallax {
    display        : flex;
    justify-content: center;
    flex-direction : column;
}

.ijl-parallax-title {
    font-family   : var(--font-highlight);
    font-size     : 6em;
    letter-spacing: 0.2em;
    position      : absolute;
    width         : 100%;
}

/* Writers */
.mai-writer:hover {
    transform : scale(1.05);
    transition: all 0.2s;
}

/* Profile */
#mai-user-stats {
    font-size: 1.3em;
}

#mai-user-stats #mai-numStories,
#mai-user-stats #mai-numWriters,
#mai-user-stats #mai-numReaders {
    font-size: 1.75em;
}

/* Meet Mai */
.mai-about-mai-wrapper {
    height: calc(100vh - 1.5*var(--height-nav));
}

.mai-about-mai-wrapper > * {
    background-color: var(--color-white-transparent);
}

/* Meet Mai Team */
.carousel {
    height: 67vh;
}

.carousel-item {
    width:  30% !important;
    top  : -30% !important;
}



/****************************************************************************
 ****************************************************************************

    Media query

*****************************************************************************
*****************************************************************************/
/* Tablet and larger */
@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height     : var(--height-nav);
        line-height: var(--height-nav);
    }
}

/* Desktop */
@media all and (max-width: 1200px), all and (max-device-width: 1200px) {
    .mai-card img {
        height: 460px;
    }

    .mai-card-preview img {
        height: 200px;
    }
}

/* Tablet */
@media all and (max-width: 992px), all and (max-device-width: 992px) {
    .mai-desktop-page {
        display: none;
    }

    .mai-mobile-page {
        display: block;
    }

    h1 {
        font-size: 2.4em;
    }

    h2 {
        font-size: 1.4em;
    }

    nav .brand-logo {
        margin-left: 0;
    }

    .mai-card img {
        height: 300px;
    }

    .mai-card-preview img {
        height: 240px;
    }

    .card p {
        font-size: 1em !important;
    }

    #mai-user-stats {
        font-size: 1.2em;
    }

    #mai-user-stats #mai-numStories,
    #mai-user-stats #mai-numWriters,
    #mai-user-stats #mai-numReaders {
        font-size: 1.4em;
    }

    .cover_video {
        visibility: hidden;
    }
}

/* Mobile */
@media all and (max-width: 600px), all and (max-device-width: 600px) {
    .mai-card img {
        height: 280px;
    }

    .mai-card-preview img {
        height: 280px;
    }
}